<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/css/clase.css">
</head>

<body>
    <header>

        <div id="menu" class="fas fa-bars"></div>

        <a href="/templates/index.html" class="Volver"><span>&#10229;</span>Volver</a>

        <nav class="navbar">
            <ul>
                <li><a class="active" href="#course">curso DB02M4D9</a></li>
            </ul>
        </nav>

        <div id="login" class="fas fa-user-circle">
            <a>gornangrau</a>
        </div>

    </header>

    <div class="sidebar">
        <h1>Bienvenido S040558RR</h1>
        <ul>
            <li><a>Jonathan Arias</a></li>
            <li><a>Isaac Blanco</a></li>
            <li><a>Camilo Céspedes</a></li>
            <li><a>Jonathan Arias</a></li>
            <li><a>Jonathan Arias</a></li>
            <li><a>Isaac Blanco</a></li>
            <li><a>Sebastián Gonzalez</a></li>
            <li><a>Camilo Céspedes</a></li>
            <li><a>Camilo Céspedes</a></li>
            <li><a>Raul López </a></li>
            <li><a>Sthephany Rojas</a></li>
            <li><a>Camilo Céspedes</a></li>
            <li><a>Camilo Céspedes</a></li>
            <li><a>Jonathan Arias</a></li>
            <li><a>Isaac Blanco</a></li>
            <li><a>Camilo Céspedes</a></li>
            <li><a>Jonathan Arias</a></li>
            <li><a>Jonathan Arias</a></li>
            <li><a>Isaac Blanco</a></li>
            <li><a>Sebastián Gonzalez</a></li>
            <li><a>Camilo Céspedes</a></li>
            <li><a>Camilo Céspedes</a></li>
            <li><a>Raul López </a></li>
            <li><a>Sthephany Rojas</a></li>
            <li><a>Camilo Céspedes</a></li>
            <li><a>Camilo Céspedes</a></li>
        </ul>
    </div>

    <section>
        <div class="left">
            <h2>Ingresar Asistencia</h2>
            <form method="post">
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label>Código Docente</label>
                </div>
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label>Código de la Clase</label>
                </div>
               <input type="submit" value="Registrar Asistencia">
            </form>
        </div>
    </section>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>