<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ac67e1c369.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/historial.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"></link>
</head>
<body>
<!-- header section starts  -->

<header>

    <div id="menu" class="fas fa-bars"></div>
    <a href="/logout/" class="logo"><i class="fas fa-sign-in-alt"></i>Cerrar Sesión</a>
    <a href="/" class="logo"><i class="fas fa-arrow-circle-left"></i>Inicio</a>
    <a href="/classesview/historial" class="logo"><i class="fas fa-table"></i>Historial</a>
    <a style="color: #fcfcfc; font-size: 25px"><i class="fas fa-user-circle"></i>{{user}}</a>

</header>
    <div class="container">
        {% for asignatura, asistencia in data.items() %}
        <h1 class="heading">{{asignatura}}</h1>   
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora de inicio</th>
                    <th>Hora de Asistencia</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {%for clase in asistencia%}
                <tr>
                    <td>{{clase[2].date()}}</td>
                    <td>{{clase[2].time()}}</td>
                    {% if clase[0]!=None %}
                    <td>{{clase[0].time()}}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    {% if clase[1]=='Asistencia' %}
                    <td><p class="status asistio">{{clase[1]}}</p></td>
                    {% else %}
                    <td><p class="status ausente">{{clase[1]}}</p></td>
                    {% endif %}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <br>
        {%endfor%}
    </div>
</body>
</html>