<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"></link>
</head>
<body>
<!-- header section starts  -->

<header>

    <div id="menu" class="fas fa-bars"></div>

    <a href="/logout/" class="logo"><i class="fas fa-user-graduate"></i>Cerrar Sesión</a>

    <div id="login" class="fas fa-user-circle">
        <a>{{user}}</a>  
    </div>

</header>

<!-- header section ends -->

<!-- course section starts  -->

<section class="course" id="course">

    <h1 class="heading">Clases</h1>    
    
    <div class="box-container">

        {% for clase in data %}
        <div class="box">
            <div class="content">
                <a href="clase/{{clase[7]}}" class="title">{{clase[2]}}</a>
                <p><b>Inicio:</b> {{clase[4]}}<br><b>Fin:  </b>{{clase[5]}} <br><b>Salon: </b>{{clase[6]}}</p>
                <div class="info">
                    <h3>{{clase[3]}} - {{clase[1]}}</h3>
                </div>
            </div>
        </div>
        {% endfor %}
    
    </div>
    
    </section>
</body>
</html>